{extend name="base" /}
{block name="title"}客服列表 - 客服控制台{/block}
{block name="left"}{include file="left_admin" /}{/block}
{block name="content"}
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">客服列表</div>
                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a href="/index.php/staff/Staff_Manage/create"
                                           class="am-btn am-btn-default am-btn-success"><span
                                                class="am-icon-plus"></span> 添加客服
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" class="am-form-field ">
                                <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                    type="button"></button>
          </span>
                            </div>
                        </div>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                   id="example-r">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>客服名称</th>
                                    <th>用户名</th>
                                    <th>性别</th>
                                    <th>状态</th>
                                    <th>权限</th>
                                    <th>修改时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>


                                {volist name="list" id="vo"}
                                <tr class="gradeX">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.user_name}</td>
                                    <td>{$vo.sex}</td>
                                    <td>{$vo.state}</td>
                                    <td>{$vo.power}</td>
                                    <td>{$vo.update_time}</td>

                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a href="/index.php/staff/Staff_Manage/update/id/{$vo.id}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="javascript:;" data-id="{$vo.id}" data-name="{$vo.name}"
                                               data-power="{$vo.power}" class="tpl-table-black-operation-del del-staff">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}

                                </tbody>
                            </table>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    <li class="am-disabled"><a href="#">«</a></li>
                                    <li class="am-active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    var layer = null;
    layui.use('layer', function () {
        layer = layui.layer;
    });

    $(function () {
        $('.del-staff').click(function () {
            var id = $(this).attr('data-id');
            var name = $(this).attr('data-name');

            if ($(this).attr('data-power') === '1') {
                layer.msg('不能删除管理账户', {icon: 6});
                return;
            }

            layer.confirm('确定删除“' + name + '”？', function (index) {
                layer.close(index);
                location.href = '/index.php/staff/Staff_Manage/delete/id/' + id;
            });
        });
    });
</script>
{/block}