<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body style="padding: 0 10px;">

<blockquote class="layui-elem-quote layui-text" style="margin-top: 10px;">修改资料</blockquote>

<form class="layui-form" action="/index.php/staff/Staff_Manage/saveStaffByLogin" method="post">
    {:token()}
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">客服名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" value="{$staff.name}" placeholder="请输入客服名" lay-verify="required"
                       class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男" {eq name="$staff.sex" value="1" }checked{/eq}>
                <input type="radio" name="sex" value="2" title="女" {eq name="$staff.sex" value="2" }checked{/eq}>
                <input type="radio" name="sex" value="0" title="保密" {eq name="$staff.sex" value="0" }checked{/eq}>
            </div>
        </div>

    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" name="description" class="layui-textarea">{$staff.description}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script>layui.use('form');</script>
</body>
</html>