.container-layout {
    margin: 0;
}

.padding-0 {
    padding: 0 !important;
}

#result {

    resize: none;
    overflow: hidden;
}

iframe {
    display: block;
    width: 100%;
    height: 37px;
    border-top: 1px solid #ddd;
}

.result-panel {
    max-height: 600px;
    overflow: auto;
}

.badge-1 {
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: url(../img/ball-pk.png) no-repeat;
}

.badge-color-2 {
    background-position: 0 -21px;
}

.badge-color-3 {
    background-position: 0 -42px;
}

.badge-color-4 {
    background-position: 0 -63px;
}

.badge-color-5 {
    background-position: 0 -84px;
}

.badge-color-6 {
    background-position: 0 -105px;
}

.badge-color-7 {
    background-position: 0 -126px;
}

.badge-color-8 {
    background-position: 0 -147px;
}

.badge-color-9 {
    background-position: 0 -168px;
}

.badge-color-10 {
    background-position: 0 -189px;
}

/*两面*/
.two-sides {
    background: url(../img/two-sides.jpg) no-repeat;
    width: 827px;
    height: 350px;
    overflow: hidden;
    margin: 221px 0 0 197px;
}

.two-sides .item {
    float: left;
    width: 165px;
    margin: 25px 0 0 0;
    height: 183px;
}

/*一到十*/
.one-to-ten {
    background: url(../img/1-10.jpg) no-repeat;
    width: 827px;
    height: 640px;
    overflow: hidden;
    margin: 167px 0 241px 197px;
}

.one-to-ten .item {
    float: left;
    width: 165px;
    margin: 25px 0 0 0;
    height: 300px;
}

.item .num {
    height: 29px;
}

.item .num span {
    float: left;
    margin: 3px 0 0 65px;
    font-size: 16px;
}

.item .num input {
    float: right;
    width: 55px;
    height: 18px;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 0 5px;
    margin: 4px 3px 0 0;
    background: rgba(255, 255, 255, 0);
    background: #ff6e00;
}

/*投注面板*/
#betting-panel {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
}

#audio-stop, #close-betting-panel {
    font-size: 30px;
    color: #666;
    background: #eee;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    position: fixed;
    right: 50px;
    cursor: pointer;
    transition: all .6s;
}

#audio-stop {
    bottom: 140px;
}

#close-betting-panel {
    bottom: 50px;
}

#audio-stop:hover, #close-betting-panel:hover {
    color: #fff;
    background: #00aaee;
}