html, body {
	height: 100%;
	width: 100%;
}

.header {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	transition: all 1s;
	z-index: 5;
}

.header .container {
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}

.header .container .logo {
	float: left;
}

.header .container .logo img {
	margin-top: 5px;
	height: 40px;
}

.header .container .nav {
	float: right;
}

.header .container .nav a {
	display: block;
	hieght: 50px;
	line-height: 50px;
	float: left;
	padding: 0 20px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

.header .container .nav a:hover {
	border-bottom: 3px solid #fff;
	height: 47px;
}

.introduce {
	background: #fff;
}

.introduce .container {
	width: 1000px;
	height: 300px;
	margin: 0 auto;
}

.introduce .container .item {
	width: 293px;
	height: 230px;
	background: #f1f1f1;
	float: left;
	margin: 35px 0 0 30px;
	transition: all .6s;
}

.introduce .container .item:hover {
	margin-top: 25px;
	background: #dffffd;
}

.introduce .container .item .title {
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-weight: 100;
}

.introduce .container .item .content {
	font-size: 14px;
	padding: 20px;
	line-height: 22px;
	color: #888;
}

.footer {
	background: #333;
}

.footer .copyright-text {
	padding: 10px;
	font-size: 14px;
	text-align: center;
	color: #aaa;
}