html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.top {
    height: 39px;
    background: #aaa;
    padding-top: 1px;
}

.top .back-icon {
    background: url(/static/images/icon-desktop.png) no-repeat -42px -22px;
    width: 24px;
    height: 24px;
    float: left;
    margin: 7px 0 0 6px;
}

.top .title {
    color: #fff;
    margin-top: 10px;
    margin-left: 32px;
    font-size: 14px;
}

.top .phone-icon {
    background: url(/static/images/icon-desktop.png) no-repeat -21px -572px;
    width: 22px;
    height: 22px;
    float: right;
    margin: 8px 7px 0 0;
}

.msg-box {
    height: 500px;
    transition: height 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
}

.bottom {
    height: 80px;
    border-top: 1px solid #ddd;
}

.bottom .tool-bar {
    height: 30px;
}

.tool-bar .tool-icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 10px 0 10px;
}

.tool-bar #open-emo-panel {
    background: url(/static/images/icon-desktop.png) no-repeat -23px -1px;
}

.bottom .info {
    color: #aaa;
    text-align: center;
    font-size: 14px;
}

.bottom .input {
    display: flex;
    padding: 0 10px;
}

.bottom .input textarea {
    flex: auto;
    margin-right: 10px;
    padding: 5px;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    height: 20px;
    background: #eee;
    border-radius: 4px;
    color: #666;
}

.bottom .input button {
    flex: none;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 4px;
    font-size: 12px;
    color: #888;
    padding: 0 10px;
    background: #ddd;
}

.emo-container {
    position: relative;
    height: 0px;
}

.emo-box {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 10px;
    border-top: 1px solid #ddd;
    display: none;
}

.emo-box img {
    margin: 3px;
}
