.custom .box-1 .title-2, .custom .box-2 .title-2 {
	position: absolute;
	top: 15px;
	left: 10px;
	width: 100px;
}

.custom .box-1 {
	position: relative;
	height: 154px;
	font-size: 14px;
	overflow: auto;
}

.custom .box-1 .style-box {
	position: absolute;
	top: 15px;
	left: 80px;
}

.custom .box-1 .style-box label {
	margin-right: 0px;
	height: 125px;
	float: left;
	width: 120px;
	position: relative;
	cursor: pointer;
}

.custom .box-1 .style-box label input {
	position: absolute;
	bottom: 2px;
	left: 26px;
	width: 15px;
	height: 15px;
}

.custom .box-1 .style-box label span {
	position: absolute;
	left: 48px;
	bottom: 0;
	font-size: 16px;
}

.custom .box-1 .style-box label img {
	position: absolute;
	top: 0;
	left: 10px;
	width: 100px;
}

.custom .box-2 {
	position: relative;
	font-size: 14px;
	height: 50px;
}

.custom .box-2 .input-1 {
	position: absolute;
	top: 7px;
	left: 95px;
	width: 200px;
}

.custom .box-2 .color-icon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 14px;
	left: 310px;
	border-radius: 50%;
	border: 1px solid #aaa;
}

/* 颜色面板 */
.color-panel-bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	width: 100%;
	display: none;
}

.color-panel {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	background: #fff;
	margin: -136px 0 0 -200px;
	border-radius: 4px;
}

.color-panel .color-box {
	overflow: hidden;
}

.color-panel .color-box div {
	width: 24px;
	height: 24px;
	float: left;
	border: 1px solid #fff;
}

.color-panel .color-box div:hover {
	border-color: #000;
}

/* 颜色面板结束 */