html, body {
    height: 100%;
    width: 100%;
    min-height: 480px;
    min-width: 1000px;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.left-panel {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    border-right: 1px solid #ddd;
    z-index: 1;
}

.left-panel .tab {
    width: 100%;
    height: 45px;
    position: absolute;
}

.left-panel .tab div {
    width: 50%;
    border-bottom: 3px solid #eee;
    height: 42px;
    font-size: 14px;
    color: #aaa;
    cursor: pointer;
    position: absolute;
    line-height: 45px;
    text-align: center;
}

.left-panel .tab div:hover, .left-panel .tab .active {
    border-bottom: 3px solid #008fff;
    height: 42px;
    color: #008fff;
}

.left-panel .tab .item-2 {
    right: 0;
}

.left-panel .menu {
    width: 100%;
    height: calc(100% - 45px);
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 45px;
}

.left-panel .menu .item {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    border-left: 3px solid #fff;
}

.left-panel .menu .item:hover, .left-panel .menu .active {
    border-left-color: #008fff;
    background: #f1f8ff;
}

.left-panel .menu .item .name {
    position: absolute;
    top: 5px;
    left: 7px;
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

.left-panel .menu .item .date {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #999;
}

.left-panel .menu .item .msg {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #888;
    font-size: 14px;
    height: 16px;
    overflow: hidden;
}

.left-panel .menu .item .new-num {
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding: 0 6px;
    font-size: 12px;
    text-align: center;
    background-color: #FF5722;
    color: #fff;
    border-radius: 2px;
}

.left-panel .menu .item .open-chat {
    position: absolute;
    width: 100%;
    height: 100%;
}

.center-panel {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 100%;
}

.center-panel .show-message {
    position: absolute;
    top: 0;
    width: 100%;
    height: 65%;
    overflow-x: hidden;
    overflow-y: auto;
}

.center-panel .input-message {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
}

.input-message .tool-bar {
    position: absolute;
    height: 34px;
    width: 100%;
    border-top: 1px solid #ddd;
}

.tool-bar i {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: left;
    margin: 10px 0 0 15px;
}

.tool-bar #open-emo-panel {
    background: url(/static/images/icon-desktop.png) no-repeat -23px -1px;
}

.tool-bar #open-pic-icon {
    background: url(/static/images/icon-desktop.png) no-repeat -23px -23px;
}

.tool-bar #open-remarks {
    background: url(/static/images/icon-desktop.png) no-repeat -45px -1px;
}

.tool-bar #pull-black {
    background: url(/static/images/icon-desktop.png) no-repeat -65px -1px;
}

.input-message .input {
    position: absolute;
    top: 35px;
    height: calc(100% - 75px);
    width: 100%;
}

.input-message .input .edit {
    height: 100%;
    width: calc(100% - 12px);
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    border: 0;
    outline: 0;
    line-height: 25px;
    padding: 0 6px;
    resize: none;
}

.input-message .bottom {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.input-message .bottom .send {
    position: absolute;
    bottom: 10px;
    right: 15px;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #008fff;
    background: #008fff;
    outline: none;
    cursor: pointer;
    transition: all .6s;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
}

.input-message .bottom .send:hover {
    background: #fff;
    color: #008fff;
}

.center-panel .emo-panel {
    height: 217px;
    background: #fff;
    position: absolute;
    width: 344px;
    bottom: calc(35% + 1px);
    left: 2px;
    border: 1px solid #ccc;
    display: none;
}

.emo-panel .title {
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #f1f1f1;
    font-size: 14px;
    color: #888;
}

.emo-panel .title .close-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(/static/images/icon-desktop.png) no-repeat -2px -133px;
}

.emo-panel .emo-box {
    height: 182px;
    overflow: auto;
}

.emo-panel .emo-box img {
    margin: 7px 0 0 7px;
}

#mask-layer {
    position: absolute;
    left: 25%;
    width: 75%;
    height: 100%;
    background: #eee;
}

#mask-layer h1 {
    font-size: 30px;
    color: #aaa;
    text-align: center;
    margin-top: 230px;
}

.right-panel {
    position: absolute;
    right: 0;
    width: 25%;
    height: 100%;
    border-left: 1px solid #ddd;
}

