<div class="left-sidebar">
    <!-- 用户信息 -->
    <div class="tpl-sidebar-user-panel">
        <div class="tpl-user-panel-slide-toggleable">
            <div class="tpl-user-panel-profile-picture">
                <img src="/static/assets/img/user04.png" alt="">
            </div>
            <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              {$staff.name}
          </span>
            <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
        </div>
    </div>

    <!-- 菜单 -->
    <ul class="sidebar-nav">
        <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>
        <li class="sidebar-nav-link">
            <a href="/index.php/staff/admin" {eq name="menu" value="index" }class="active" {/eq}>
            <i class="am-icon-home sidebar-nav-link-logo"></i>控制台首页
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="/index.php/staff">
                <i class="am-icon-table sidebar-nav-link-logo"></i>工作台
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="/index.php/staff/Staff_Manage/index" {eq name="menu" value="staff_manage" }class="active" {/eq}>
            <i class="am-icon-calendar sidebar-nav-link-logo"></i>客服管理
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="/index.php/staff/example/index" {eq name="menu" value="example" }class="active" {/eq}>
            <i class="am-icon-wpforms sidebar-nav-link-logo"></i>实例管理
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="/index.php/staff/corpus/index" {eq name="menu" value="corpus" }class="active" {/eq}>
            <i class="am-icon-wpforms sidebar-nav-link-logo"></i>词库管理
            </a>
        </li>
    </ul>
</div>