<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>统计</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/pintuer/pintuer.css">
    <link rel="stylesheet" href="css/count_2.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/zclip/jquery.zclip.min.js"></script>
    <script src="/static/pintuer/pintuer.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/layer-v3.1.1/layer/layer.js"></script>
</head>
<body>
<div class="container-layout padding-top padding-bottom">

    <div id="data">
        <iframe src="//www.yyc91.com/static/data/80CurIssue.json"></iframe>
        <iframe src="//www.9h991.com/static/data/80CurIssue.json"></iframe>
        <iframe src="//www.rd2255.com/static/data/80CurIssue.json"></iframe>
        <iframe src="//www.sh1333.com/static/data/80CurIssue.json"></iframe>
    </div>

    <textarea id="result" rows="1" class="input"></textarea>

    <div class="line-middle margin-top">

        <div class="x8 padding-0">


            <div class="x4">
                <div class="panel">
                    <div class="panel-head">全局</div>

                    <div class="panel-body padding-little-bottom">
                        <div class="form-group">
                            <div class="label">
                                <label>数据</label>
                            </div>
                            <div class="field">
                                <button index="0" class="open-window button button-little margin-small">线路1</button>
                                <button index="1" class="open-window button button-little margin-small">线路2</button>
                                <button index="2" class="open-window button button-little margin-small">线路3</button>
                                <button index="3" class="open-window button button-little margin-small">线路4</button>
                            </div>
                        </div>
                    </div>


                    <div class="panel-body padding-little-top padding-bottom">
                        <div class="form-group">
                            <div class="label">
                                <label>方法</label>
                            </div>
                            <div class="field">
                                <label class="margin-big-right">
                                    <input name="method" value="1" type="radio" checked>
                                    正常
                                </label>
                                <label>
                                    <input name="method" value="2" type="radio">
                                    收尾
                                </label>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="panel margin-top">
                    <div class="panel-head">
                        一大一小
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="label">
                                <label>大小</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="one_big_one_small_num" placeholder="1"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="label">
                                <label>增加</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="one_big_one_small_add" placeholder="1"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="label">
                                <label>封顶</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="one_big_one_small_max" placeholder="50"/>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <div class="x4">

                <div class="panel">
                    <div class="panel-head">
                        单项遗漏
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="label">
                                <label>大小</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="num" placeholder="1"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="label">
                                <label>增加</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="add" placeholder="1"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="label">
                                <label>封顶</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="max" placeholder="50"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="label">
                                <label>遗漏</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="miss" placeholder="12"/>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="panel margin-top">
                    <div class="panel-head">
                        双大双小
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="label">
                                <label>大小</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="double_big_double_small_num" placeholder="1"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="label">
                                <label>增加</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="double_big_double_small_add" placeholder="1"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="label">
                                <label>封顶</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="double_big_double_small_max" placeholder="50"/>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <div class="x4">

                <div class="panel">
                    <div class="panel-head">
                        1~10 名遗漏
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="label">
                                <label>初始投注额</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="num_1_10" placeholder="1"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="label">
                                <label>最低收益</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="min_1_10" placeholder="1"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="label">
                                <label>最小遗漏</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="miss_1_10" placeholder="70"/>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="panel margin-top">
                    <div class="panel-head">
                        三大三小
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="label">
                                <label>大小</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="three_big_three_small_num" placeholder="1"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="label">
                                <label>增加</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="three_big_three_small_add" placeholder="1"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="label">
                                <label>封顶</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" id="three_big_three_small_max" placeholder="50"/>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>


        <div id="vue-data" class="x4 result-panel">

            <table class="table table-bordered">
                <tr>
                    <th>期号</th>
                    <th>结果</th>
                </tr>
                <tr v-for="tr in trs">
                    <td>{{tr.issue}}</td>
                    <td><span :class="'badge-1 badge-color-' + num" v-for="num in tr.nums"></span></td>
                </tr>
            </table>

        </div>

    </div>

    <div class="panel margin-top">
        <div class="panel-head">数据分析</div>
        <div class="panel-body">

            <div>
                <button class="button border-sub margin-right" id="two-sides-miss">两面遗漏</button>
                <button class="button border-sub margin-right" id="one-to-ten-miss">1~10名遗漏</button>
                <button class="button border-sub margin-right" id="count-law">计算规律</button>
            </div>

            <textarea id="out-obj" rows="10" class="input margin-top text-large height-large"></textarea>

        </div>
    </div>

</div>

<div id="betting-panel" class="container-layout padding-top">

    <div class="tab" data-toggle="click">
        <div class="tab-head">
            <strong>投注面板</strong>
            <ul class="tab-nav">
                <li class="active"><a href="#tab-1">一大一小</a></li>
                <li><a href="#tab-2">双大双小</a></li>
                <li><a href="#tab-3">三大三小</a></li>
                <li><a href="#tab-4">单项遗漏</a></li>
                <li><a href="#tab-5">1~10名遗漏</a></li>
            </ul>
        </div>
        <!--tab-body-bordered-->
        <div class="tab-body">
            <div class="tab-panel active" id="tab-1">

                <div id="vue-one-big-and-one-small">
                    <div class="two-sides" v-if="isShow()">
                        <div class="item" v-for="(data1,index1) in result[0].betting">
                            <div class="num" v-for="(data2,index2) in data1.item">
                                <!--<span></span>-->
                                <input v-if="data2.is_betting" @click="copyText($event)"
                                       :value="data2.betting_amount" readonly type="text">
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="tab-panel" id="tab-2">

                <div id="vue-double-big-double-small">
                    <div class="two-sides" v-if="isShow()">
                        <div class="item" v-for="(data1,index1) in result[0].betting">
                            <div class="num" v-for="(data2,index2) in data1.item">
                                <!--<span></span>-->
                                <input v-if="data2.is_betting" @click="copyText($event)"
                                       :value="data2.betting_amount" readonly type="text">
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="tab-panel" id="tab-3">

                <div id="vue-three-big-three-small">
                    <div class="two-sides" v-if="isShow()">
                        <div class="item" v-for="(data1,index1) in result[0].betting">
                            <div class="num" v-for="(data2,index2) in data1.item">
                                <!--<span></span>-->
                                <input v-if="data2.is_betting" @click="copyText($event)"
                                       :value="data2.betting_amount" readonly type="text">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-panel" id="tab-4">

                <div id="vue-individual">
                    <div class="two-sides" v-if="isShow()">
                        <div class="item" v-for="(data1,index1) in result[0].betting">
                            <div class="num" v-for="(data2,index2) in data1.item">
                                <span>{{data2.miss}}</span>
                                <input v-if="data2.is_betting" @click="copyText($event)"
                                       :value="data2.betting_amount" readonly type="text">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-panel" id="tab-5">

                <div id="vue-one-to-ten-miss">
                    <div class="one-to-ten" v-if="isShow()">
                        <div class="item" v-for="(data1,index1) in result[0].betting">
                            <div class="num" v-for="(data2,index2) in data1.item">
                                <span>{{data2.miss}}</span>
                                <input v-if="data2.is_betting" @click="copyText($event)"
                                       :value="data2.betting_amount" readonly type="text">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="close-betting-panel" class="icon-compress"></div>

</div>

<script src="js/count_2_common.js"></script>
<script src="js/count_2_one_big_and_one_small.js"></script>
<script src="js/count_2_double_big_double_small.js"></script>
<script src="js/count_2_three_big_three_small.js"></script>
<script src="js/count_2_individual.js"></script>
<script src="js/count_2_one_to_ten_miss.js"></script>
<script src="js/count_2.js"></script>
</body>
</html>
