<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>统计</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/pintuer/pintuer.css">
    <link rel="stylesheet" href="css/count_3.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/zclip/jquery.zclip.min.js"></script>
    <script src="/static/pintuer/pintuer.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/layer-v3.1.1/layer/layer.js"></script>
</head>
<body>
<div class="container-layout padding-top padding-bottom">

    <div id="data">
        <iframe src="//www.yyc91.com/static/data/80CurIssue.json"></iframe>
        <iframe src="//www.9h991.com/static/data/80CurIssue.json"></iframe>
        <iframe src="//www.rd2255.com/static/data/80CurIssue.json"></iframe>
        <iframe src="//www.sh1333.com/static/data/80CurIssue.json"></iframe>
    </div>

    <textarea id="result" rows="1" class="input"></textarea>

    <div class="line-middle margin-top">

        <div class="x2 option-panel">


            <div class="panel">
                <div class="panel-head">
                    通用
                </div>

                <div class="panel-body padding-little-bottom">
                    <div class="form-group">
                        <div class="label">
                            <label>数据</label>
                        </div>
                        <div class="field">
                            <button index="0" class="open-window button button-little margin-small">线路1</button>
                            <button index="1" class="open-window button button-little margin-small">线路2</button>
                            <button index="2" class="open-window button button-little margin-small">线路3</button>
                            <button index="3" class="open-window button button-little margin-small">线路4</button>
                        </div>
                    </div>
                </div>


                <div class="panel-body padding-little-top padding-small-bottom">
                    <div class="form-group">
                        <div class="label">
                            <label>方法</label>
                        </div>
                        <div class="field">
                            <label class="margin-big-right">
                                <input name="method" value="1" type="radio">
                                正常
                            </label>
                            <label>
                                <input name="method" value="2" type="radio">
                                收尾
                            </label>
                        </div>
                    </div>
                </div>


            </div>


            <div class="panel margin-top">
                <div class="panel-head">
                    两面参数
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="label">
                            <label>大小</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="num"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="label">
                            <label>增加</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="add"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="label">
                            <label>封顶</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="max"/>
                        </div>
                    </div>


                </div>
            </div>


        </div>

        <div id="vue-result" class="x8 table-1">
            <div class="content">
                <h1>
                    <span v-if="isShow()">{{result[0].issue}} 期投注清单</span>
                    <span v-else>{{info}}</span>
                </h1>
            </div>

            <template v-if="isShow()">

                <div class="two-sides">
                    <template v-for="(data,index) in result[0].twoSides">

                        <div class="item">

                            <template v-for="(obj,index) in data.item">
                                <div class="num">
                                    <span>{{obj.miss}}</span>
                                    <input readonly type="text" @click="selectText($event)" v-show="obj.is_betting"
                                           :value="obj.betting_amount">
                                </div>

                            </template>
                        </div>

                    </template>
                </div>

            </template>
        </div>

        <div id="vue-data" class="x2 out-result">

            <table class="table table-bordered">
                <tr>
                    <th>期号</th>
                    <th>结果</th>
                </tr>
                <tr v-for="tr in trs">
                    <td>{{tr.issue}}</td>
                    <td><span :class="'badge-1 badge-color-' + num" v-for="num in tr.nums"></span></td>
                </tr>
            </table>

        </div>

    </div>


    <div class="panel margin-top">
        <div class="panel-head">数据分析</div>
        <div class="panel-body">

            <div>
                <button class="button border-sub margin-right" id="count-law">统计规律</button>
                <button class="button border-sub margin-right" id="count-continuity">统计连续数</button>
            </div>

            <textarea id="out-obj" rows="10" class="input margin-top text-large height-large"></textarea>

        </div>
    </div>


</div>
<script src="js/count_3.js"></script>
</body>
</html>
