<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>统计</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/pintuer/pintuer.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/pintuer/pintuer.js"></script>
    <script src="/static/js/vue.js"></script>
    <style>
        .cur td {
            background: #00d5ff;
            border-color: #00bbff;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
        }

        .cur .bg {
            background: #00bbff;
        }

        .controll {
            position: fixed !important;
            top: 8px;
            right: 3px;
        }

    </style>
</head>
<body>
<div class="container-layout padding-top padding-bottom">
    <div class="line-middle">
        <div class="x9">

            <table id="vue-node" class="table table-bordered">
                <tr>
                    <th>冠</th>
                    <th class="bg">亚</th>
                    <th>三</th>
                    <th class="bg">四</th>
                    <th>五</th>
                    <th class="bg">六</th>
                    <th>七</th>
                    <th class="bg">八</th>
                    <th>九</th>
                    <th class="bg">十</th>
                </tr>
                <tr v-for="(tr,index) in trs" :class="trClass(index)">
                    <td v-for="(v,i) in tr" :class="tdClass(i)">{{v}}</td>
                </tr>
            </table>

        </div>

        <div class="x3 controll">

            <div class="form-group">
                <div class="label">
                    <label>大小</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="num"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>翻倍增加</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="add"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>封顶</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="max"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>类型</label>
                </div>
                <div class="field">

                    <label class="margin-big-right">
                        <input name="type" value="1" type="radio">
                        大
                    </label>
                    <label class="margin-big-right">
                        <input name="type" value="2" type="radio">
                        小
                    </label>
                    <label class="margin-big-right">
                        <input name="type" value="3" type="radio">
                        单
                    </label>
                    <label>
                        <input name="type" value="4" type="radio">
                        双
                    </label>

                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>方法</label>
                </div>
                <div class="field">
                    <label class="margin-big-right">
                        <input name="method" value="1" type="radio">
                        正常
                    </label>
                    <label>
                        <input name="method" value="2" type="radio">
                        收尾
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="field">
                    <textarea id="result" class="input" rows="2">1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10</textarea>
                </div>
            </div>

            <div class="form-button">
                <button id="count" class="button border-sub">计算</button>
                <button id="clear" class="button border-dot">清除</button>
                <button id="start" class="button border-dot">重新开局</button>
            </div>

        </div>
    </div>
</div>
<script src="js/count_2.js"></script>
</body>
</html>
